<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/quick.css">
    <title>Quick</title>
    <!-- Add manifest -->
    <link rel="manifest" href="/static/core/manifest/manifest.json/">
    <!--<link rel="manifest" href="/core/static/core/manifest/manifest.json/">-->
    <!-- Tell the browser it's a PWA -->
</head>
<body>

<script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
                    // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
              }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
              }).catch(function(err) {
                console.log(err)
              });
            });
          } else {
            console.log('service worker is not supported');
          }
    </script>

<div id="main"></div>
<script src="/static/build/app.js"></script>
</body>
</html>